# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
android/.kotlin/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
android/gradle.local.properties

# IDE
.idea/
*.iml
.vscode/
